h1 {
    text-align: center;
}
body{
    /* background-image: ; */
    background-color: lightblue;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100% 
}

nav.topBar input[type=submit]{
    width: 140px;
    height: 40px;
    font: bold 12px Times;
    text-decoration: none; 
    background-color: #eeeeee;
    color: #eeeeee;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #333333;
    float:left;
    background-color: #333;
    text-align:center; 
}

nav.topBar input[type=submit]:hover{
    background-color: yellowgreen;
}


.viewStoryBox {
    background-color: white;
    box-shadow: 0px 0px 3px;
    border-radius: 2px;
    width: 1024px;
    max-width: 85%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 35px;
    font-family: OpenSans-Light;
    border:5px solid lightgreen;
    transition: border 0.5s;
}

.viewStoryBox:hover{
    border: 5px solid rgb(3, 66, 3)
}

.createTitleField{
    display:flex;
    position:relative;
    margin:4px auto;
    width:26%;
    flex-direction:row;
    box-shadow: 1px 1px 0 red;
    transition: 1s ease; 
}

.createTitleField:hover{
    display:flex;
    position:relative;
    margin:4px auto;
    width:26%;
    flex-direction:row;
    box-shadow: 1px 1px 0 red,
        2px 2px 0 red,
        3px 3px 0 red,
        4px 4px 0 red,
        5px 5px 0 red,
        6px 6px 0 red,
        7px 7px 0 red, 
        8px 8px 0 red; 
}
.createTitleField input[type=text], .createTitleField input[type=button]{
    display:block;
    /*font:*/
}

.createTitleField input[type=text]{
    flex:1;
    padding:4px;
    border: 4px solid rgb(168, 66, 66);
    
}

.createTitleField input[type=submit]{
    padding 2px 2px;
    background-color:  rgb(114, 16, 16));
    border: 4px solid rgb(168, 66, 66);
    color: green;
    border: none;
}

.accountField{
    padding: 10px;
    border: none;
    border-bottom: solid 3px #c9c9c9;
    transition: border 0.25s ease;
}

.accountField:focus{
    border: solid 5px #969696;
}

.accountField:hover:not(:focus){
    border-bottom: solid 5px #969696;
}

.register{
  display: block;
  transtition: 3s;
  -webkit-transition: 3s;
}
.register:hover, .register:focus{
    box-shadow: inset 0 0 0 2em pink;
    
}

