{% extends "base.html" %}


{% block body %}

<br>

Create a new story!
<br>
<i>{{previous}}</i>
<br>
<textarea rows="1" cols="50" placeholder="Story title" name="title" form="form"></textarea> <br> <br>
<textarea rows="4" cols="50" placeholder="First line of story" name="firstline" form="form"></textarea>
<br>
<form method="POST" id="form" action="/createstory">
  <input type="submit" value="Create!">
</form>

<form action="/welcome">
  <input type="submit" value="Go Back">
</form>

{% endblock %}
