{% extends "base.html" %}


{% block body %}
<body class = "display">
  <div class = "centerBox">
    <div class = "teamName">
<h1>{{title}} </h1>
<h3>story id: {{id}}</h3>
</div>
<br>
{% for line in lines %}
  {{line}} <br>
{% endfor %}

<br>
<br>

<form action="/welcome">
  <input type="submit" value="Go Back Home" class ="back left button">
  <input formaction="/viewstories" formmethod="GET" type="submit" value="View Another Story!" class = "back right button">
</form>
</div>
</body>
{% endblock %}
