{% extends "base.html" %}


{% block body %}

You are now editing <b> {{title}} </b> (story id: {{id}})

<input type="hidden" name="id" form="form" value= {{id}}>

<br>
<br>

Previous line of story:
<br>
<i>{{previous}}</i>
<br>
<br>
<textarea rows="4" cols="50" placeholder="Enter next line of story here..." name="contribution" form="form" required></textarea>
<form method="POST" id="form" action="/editstory">
  <input type="submit" value="Submit">
</form>

<br>

<form action="/welcome">
  <input type="submit" value="Go Back Home">
</form>

<form action="/chooseeditstory">
  <input type="submit" value="Go Back to Selection Page">
</form>
{% endblock %}
