{% extends "base.html" %}


{% block body %}

<br>

Select a story to view!
<br>

<form method="POST" action="/v">
  {% for all in new.keys() %}
  <!--{{ new[all] }}
  <input type="submit" value={{ "%s" %(new[all]) }} name={{ "%s" %(new[all]) }}>
  -->
  <input type="submit" value={{ new[all].replace(" ", "_") }} name={{all}}>
  <!--{{new[all]}}-->
  {% endfor %}

</form>

{% endblock %}


<form method="POST" id="form" action="/selectedstory">
  <input type="submit" value="Submit">
</form>


{% endblock %}
