{% extends "base.html" %}

{% block body %}
<h2>Welcome {{ user }}</h2>

<form method="POST" action="/createstoryhome">
  <input type="submit" name="createstory" value="Create a Story!">
</form>

<form method="POST" action="/chooseeditstory">
  <input type="submit" name="editstory" value="Edit Stories!">
</form>

<form method = "POST" action="/chooseviewstory">
  <input type="submit" name="viewstory" value="View Stories!">
</form>

<form method="POST" action="/logout">
  <input type="submit" name="logout" value="Log Out">
</form>
{% endblock %}
